/* navbar section  */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 4px;
    padding-bottom: 7px;
}
.logo{
    margin: auto;
    padding: 5px 6px;
}
.logo img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

/* home section  */
#home{
    height: 300px;
    /* width: 100%; */
}
#home::before{
    height: 410px;
    /* width: 100% */
}
#home h1{
    font-size: 1.6rem;

}
#home p{
    font-size: 1rem;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
/* services  section  */
.services{
    flex-direction: column;
}
.box p{
    font-size: 1.1rem;
    padding: 4px;
}
.box img{
    display: block;
    margin: auto;
    padding: 4px;
    height: 75px;
}

/* client section  */

#clients{
    flex-wrap: wrap;
}
#clients img{
    height: 50px;
    padding: 20px 10px;
    padding-bottom: 30px;
}

/* contact us section  */
.contactBox form{
    width: 80%;
}
.contactBox input, textarea{
    width: 100%;
    padding: 0.4rem;
    border-radius: 10px;
    font-size: 0.9rem;
    border: 1px solid black;
    font-family: 'Exo 2', sans-serif;
    box-shadow: 2px 2px 2px black;
}
/* footer section  */
/* Utility section  */
.hprimary{
    font-size: 1.5rem;
}
.hsecondary{
    font-size: 1.3rem;
}